/* contenedor principal */
.about-me{
    width: 100%;
    margin-bottom: 10px;
}

/* contenedor para separar de las esquinas */
.section-info{
    max-width: 90%;
    margin: auto;
}

.section-info .column-8 h3{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.section-info .column-8 p{
    line-height: 30px;
}

.section-info .column-8 span{
    color: #DDB127;
}


.section-info .column-4 span{
    font-weight: 600;
}

.section-info .column-4 a{
    color: #DDB127;
}

.section-info .column-4 hr{
    background-color: #EEEEEE;
    margin-bottom: 10px;
}