/* Contenedor principal */
.what-i-do{
    width: 100%;
    background-color: #EADBC8;
}

/* SERVICES */
.row .column-6 section i{
    height: 100%;
    background-color: white;
    font-size: 1.7rem;
    padding: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.row .column-6 section div{
    padding-left: 10px;
    width: 100%;
}