/* responsive para version mobile */

@media (max-width: 1154px){

    /* eliminacion del menu lateral */
    .section-nav-bar{
        display: none;
    }

    /* agregacion del 100% de la pantalla al contenido principal */
    .principal-content{
        margin-left: 0px;
    }

    .dark-screen{
        left: 0%;
    }
}


@media (max-width: 855px){
        /* contenido general */
         /* .margin-content{
            width: 95%;
        } */
    
        .column-8{
            width: 100%;
        }
    
        .column-4{
            width: 100%;
        } 

    /* titulos */

    /* .primary-view { */
        /* height: 98.3vh; */
    /* } */

    .primary-view .text-align-center h3{
        font-weight: 600;
        font-size: 25px;
    }
    
    .primary-view .text-align-center h1{
        font-size: 60px;
    }
    
    .primary-view .text-align-center p{
        font-weight: 400;
        font-size: 20px;
    }

    /* about me */
    .flex{
        display: block;
    }

    .section-info{
        justify-content: center;
    }

    .section-info h3{
        font-weight: 700;
        width: 80%;
        margin: auto;
    }

    .section-info .column-8 p{
        text-align: center;
        margin-bottom: 50px;
    }

    .section-info .column-4 p{
        text-align: left;
    }

    /* services */

    .section-info section i{
        margin-left: 47%;
        margin-bottom: 30px;
    }

    .section-info section h2{
        text-align: center;
        margin-bottom: 20px;
    }

    .section-info section p{
        text-align: center;
    }

    /* portfolio */

    .portfolio .column-4{
        width: 100%;
    }

    .portfolio .column-4 .portfolio-item{
        margin: auto;
        margin-bottom: 30px;
    }

    .portfolio .column-4 .portfolio-galery-tipo1{
        width: 400px;
        height: 260px;
    }

    .portfolio .column-4 .portfolio-galery-tipo2{
    width: 400px;
    height: 680px;
    }

    .portfolio .column-4 .portfolio-galery-tipo3{
        width: 400px;
        height: 400px;
        }


    /* contact */
    #name{
        width: 100%;
    }

    #email{
        width: 100%;
    }

    .button-inputs{
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 777px){
    /* titulos */
    .primary-view .text-align-center h3{
        font-size: 20px;
    }
    
    .primary-view .text-align-center h1{
        font-size: 50px;
    }
    
    .primary-view .text-align-center p{
        font-size: 15px;
    }


    /* secciones titulos */
    .content-title-seccion h1{
        font-size: 400%;
    }

    .content-title-seccion h4{
        font-size: 120%;
    }

    /* .primary-view{ */
        /* width: 100vw; */
    /* } */
}

@media (max-width: 611px) {
    .primary-view{ 
         width: 100vw; 
     }
     footer {
        font-size: 0.5rem;
     }    

     body {
        font-size: 0.8rem;
     }

     .row .column-6 section div {
        padding-left: 0;
        width: 100%;
    }

    .column-8 {
        padding-right: 0;
    }

    .portfolio .column-4 .portfolio-galery-tipo3 {
        width: 150px;
        height: 150px;
    }

    .portfolio .column-4 .portfolio-galery-tipo1 {
        width: 150px;
        height: 120px;
    }

    .portfolio .column-4 .portfolio-galery-tipo2 {
        width: 150px;
        height: 320px;
    }

    .primary-view .text-align-center h3{
        font-weight: 300;
        font-size: 15px;
    }
    
    .primary-view .text-align-center h1{
        font-size: 25px;
    }
    
    .primary-view .text-align-center p{
        font-weight: 200;
        font-size: 10px;
    }

    .content-title-seccion h1 {
        font-size: 210%;
    }
    .content-title-seccion h4 {
        font-size: 80%;
    }

    .section-info .column-8 h3 {
        font-weight: 400;
        font-size: 0.8rem;
    }

    #contacto {
        margin: auto 10px 10px auto;
    }

    .primary-view {
        height: 98vh;
    }
    .dark-screen {
        height: 98vh;
    }

    .section-info .column-4 a {
        font-size: 80%;
    }

    .contact {
        text-align: center;
    }
    .contact p {
        font-size: 70%;  
    }
}
