    /* TAMAÑO DE PANTALLA MEDIANA */
@media (max-width: 1258px){
    /* botones */
    .button-styles{
        font-size: 15px;
    }

    .button-inputs .button-styles{
        font-size: 10px;
    }

    /* seccion de about me */
    .content-title-seccion h1{
        font-size: 600%;
    }


    /* seccion de portafolio */
    .portfolio .margin-content{
        margin: auto;
        width: 90%;
    }


    /* seccion de whai i do */

    .column-6{
        width: 100%;
        margin-bottom: 60px;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
}
